#home-page {
  padding: 10px;
}

#file-upload-dropdown {
  opacity: 1;
  z-index: 100;
}

[data-state="selected"] {
  background-color: gray;
}

[data-state=""]:not([data-state="selected"]) {
  background-color: white;
}
