#App {
  display: flex;
}

nav {
  display: flex;
  flex-direction: column;

  min-width: 90px;
  height: 100vh;
}
nav a {
  margin-bottom: 10px;

  align-self: center;
}

.sidebar {
  @apply fixed top-0 left-0 h-full w-64 overflow-y-auto;
}

.home {
  @apply h-screen overflow-y-scroll;
}

.checkbox-purple:focus {
  outline: 2px solid purple;
}